.benefits {
  position: relative;
  margin-top: -480px;

  @media screen and (min-width: $tablet) {
    margin-top: -200px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: -200px;
  }
}
.benefits__container {
}

.benefits__title {
  max-width: 180px;
  margin: 0 0 30px 0;
  padding: 0;

  font-weight: 800;
  font-size: 20px;
  line-height: 1, 36;
  letter-spacing: 0.03em;
  color: $inverse-text-color;

  @media screen and (min-width: $tablet) {
    max-width: 100%;
    text-align: center;
    font-size: 26px;
  }

  @media screen and (min-width: $desktop) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.benefits__thumb {
  padding: 20px 30px 20px 30px;

  box-shadow: $box-shadow;
  background-color: $inverse-text-color;

  @media screen and (min-width: $tablet) {
    padding: 35px 95px;
  }

  @media screen and (min-width: $desktop) {
    padding: 65px 113px;
    font-size: 20px;
  }
}

.benefits__list {
  @extend %list;
  counter-reset: items;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.08em;
  color: $primary-text-color;

  @media screen and (min-width: $tablet) {
    @include grid(35px);
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
  }
}

.benefits__item {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;

  &::before {
    content: '— ' counter(items, decimal-leading-zero);
    counter-increment: items;
    margin-bottom: 5px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1, 65;
    color: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    @include grid-item(35px, 2);
  }

  @media screen and (min-width: $desktop) {
    @include grid-item(35px, 3);
  }
}
