html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: $primary-font-family;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: $mobile;
  min-width: $mobile-min;

  @media screen and (min-width: $tablet) {
    max-width: $tablet;
    padding: 0 40px;
  }

  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }
}

.thumb {
  position: relative;
  overflow: hidden;
}
