html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  // font-family: $primary-font-famil;
  font-size: 14px;
  letter-spacing: 0.03em;
  // color: $primary-text-color;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
