.guarantee {
  padding-top: 50px;
  @media screen and (min-width: $desktop) {
    padding-top: 130px;
  }
}

.guarantee__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.307;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;

  @media screen and (min-width: $desktop) {
    font-size: 46px;
    margin-bottom: 50px;
  }
}

.guarantee__wrapper {
  width: 100%;
  padding: 30px 0;

  @media screen and (max-width: $mobile) {
    background-color: $background-color;
  }

  @media screen and (min-width: $tablet) {
    padding: 0 40px;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 183px;
  }
}

.guarantee--container {
  @media screen and (min-width: $tablet) {
    background-color: $background-color;
    padding: 0;
  }
}

.guarantee__list {
  @extend %list;

  @media screen and (min-width: $tablet) {
    padding: 30px 0px;
    padding-left: 69px;
    padding-right: 30px;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 112px;
    padding-top: 50px;
    padding-bottom: 45px;
  }
}

.guarantee__item {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.667;
  color: $slider-text-color;
  padding-left: 28px;

  &:not(:last-child) {
    padding-bottom: 23px;
    border-left: 1px dashed $accent-color;
  }

  &:not(:last-child) {
    @media screen and (min-width: $tablet) {
      padding-bottom: 20px;
    }
  }

  @media screen and (min-width: $tablet) {
    padding-left: 32px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.4;
    padding-left: 41px;
  }
}

.guarantee__icon {
  position: absolute;
  fill: $accent-color;
  width: 14.67px;
  height: 20px;
  left: -7px;

  @media screen and (min-width: $desktop) {
    width: 22px;
    height: 30px;
    left: -10px;
  }
}

.guarantee__style {
  color: $accent-color;
  border: none;
}
