.hero {
  @media screen and(min-width:$mobile-min) {
    margin-top: 50px;
    margin-bottom: 77px;
  }
}

.hero-position {
  @media screen and(min-width:$tablet) {
    display: flex;
  }
}

.hero-information-container {
  @media screen and(min-width:$mobile-min) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media screen and(min-width:$tablet) {
    align-items: flex-start;
  }
}
.hero-title {
  margin: 0px;
  padding: 0px;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 30px;
  @media screen and(min-width:$tablet) {
    font-size: 26px;
  }

  @media screen and(min-width:$desktop) {
    font-size: 58px;
    margin-bottom: 24px;
  }
}

.hero-description {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 0px;
  padding: 0px;
  @media screen and(min-width:$mobile-min) {
    margin-bottom: 30px;
  }

  @media screen and(min-width:$desktop) {
    margin-bottom: 40px;
    font-size: 20px;
  }

  &__text {
    font-weight: 500;
    color: $secondary-text-color;
  }

  &__topic {
    font-weight: bold;
    color: $dark-background-color;
  }

  &__label {
    font-weight: bold;
    color: $accent-color;
  }
}

// .hero-text-container {
//   @media screen and(min-width:$desktop) {
//     display: flex;
//   }
// }

.hero-button {
  width: 260px;
  height: 48px;
  padding: 14px 1px;
  margin-bottom: 30px;
  // margin-left: auto;
  // margin-right: auto;
  color: $inverse-text-color;
  background-color: $accent-color;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  border: none;

  @media screen and(min-width:$desktop) {
    width: 354px;
    height: 70px;
    padding: 27px 25px 26px 26px;
    font-size: 14px;
  }
}

.hero-thumb {
  margin-left: auto;
  margin-right: auto;
  @media screen and(min-width:$mobile-min) {
    width: 208px;
  }
  @media screen and(min-width:$tablet) {
    width: 375px;
  }
  @media screen and(min-width:$desktop) {
    width: 842px;
  }
}

.hero-img {
  width: 100%;
  height: 100%;
}

// background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
