.copyright {
  background-color: $dark-background-color;
  height: 70px;
  display: flex;
  align-items: center;
}

.copyright__text {
  margin: 0px;
  color: $secondary-text-color;
  line-height: 28px;
}

.copyright__container {
  width: 100%;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet) {
    justify-content: flex-start;
  }
}

.container--flex {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: $tablet) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media (min-width: $desktop) {
    padding-top: 53px;
    padding-bottom: 53px;
  }
}

.tel {
  align-items: center;
  display: flex;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: $dark-background-color;
  text-decoration: none;

  @media (max-width: 767px) {
    margin-top: 21px;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    height: 40px;
    border-right: 1px solid $secondary-text-color;
    padding-right: 24px;
  }
  @media (min-width: $desktop) {
    font-size: 30px;
  }
}

.tel__logo {
  margin-right: 10px;
  fill: $accent-color;
  height: 20px;
  width: 20px;

  @media (min-width: $tablet) {
    height: 25px;
    width: 25px;
  }

  @media (min-width: $desktop) {
    height: 30px;
    width: 30px;
  }
}

.instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 10px;

  @media (max-width: 767px) {
    margin-top: 31px;
  }

  @media (min-width: $tablet) {
    margin-left: 24px;
  }

  background: radial-gradient(
    110.28% 110.28% at 20.5% 87.39%,
    #fae100 0%,
    #fadc04 5.44%,
    #fbce0e 11.67%,
    #fcb720 18.29%,
    #fe9838 25.14%,
    #ff7950 30.54%,
    #ff1c74 49.22%,
    #6c1cd1 100%
  );
}

.instagram__logo {
  max-width: 25px;
  max-height: 25px;
  fill: $inverse-text-color;
}
