.home__link {
  @extend %link;

  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $accent-color;
  background-color: transparent;
  border: 2px solid $accent-color;
  opacity: 0.5;

  transition: color 250ms $timing-function, background-color 250ms $timing-function,
    opacity 250ms $timing-function;

  &:hover {
    opacity: 1;
    background-color: $accent-color;
    color: $inverse-text-color;
  }
}

.home__icon {
  fill: currentColor;
}

.program {
  counter-reset: semestr;

  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 440px;
  background-color: $dark-background-color;

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
    padding-bottom: 253px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 120px;
    padding-bottom: 60px;
  }
}

.program__title-wrapper {
  margin-bottom: 43px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 52px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 60px;
    padding-bottom: 100px;

    border-bottom: 1px solid $inverse-text-color;
  }
}

.program__title {
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.03em;

  color: $inverse-text-color;

  @media screen and (min-width: $tablet) {
    font-size: 26px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 46px;
    line-height: 1.3;
    text-align: left;
  }
}

.program__list {
  @extend %list;

  letter-spacing: 0.08em;
}

.program__list-title {
  position: relative;

  @media screen and (min-width: $desktop) {
    padding-top: 69px;
  }
  // псевдоелемент лічильник
  &::before {
    margin-left: 20px;
    counter-increment: semestr;
    content: counter(semestr) ' ';

    @media screen and (min-width: $tablet) {
      margin-left: 50px;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 0;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    left: -5px;
    top: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: $accent-color;

    @media screen and (min-width: $desktop) {
      left: 0;
      top: 0;
    }
  }
}

.program__list--first {
  margin-left: 68px;

  @media screen and (min-width: $tablet) {
    margin-left: 57px;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    margin-left: 0;
  }
}

.program__item-first {
  font-weight: bold;
  font-size: 14px;
  line-height: 2;
  text-transform: uppercase;
  color: $inverse-text-color;

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.4;
    width: 240px;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.program__list--second {
  padding-top: 17px;
  padding-left: 20px;
  padding-bottom: 52px;
  border-left: 1px solid $inverse-text-color;
  margin-top: -12px;
  margin-bottom: -12px;

  @media screen and (min-width: $tablet) {
    display: flex;
    padding-left: 50px;
  }

  @media screen and (min-width: $desktop) {
    display: block;
    margin-top: 25px;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 0;

    border: none;
  }
}

.program__item-second {
  position: relative;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.67;
  text-transform: none;

  color: $accent-color;

  &::before {
    content: '';
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 4px;
    width: 12px;
    height: 1px;

    background-color: $accent-color;
  }

  &:not(:last-child) {
    margin-bottom: 8px;

    @media screen and (min-width: $tablet) {
      margin-right: 50px;
      width: 176px;
    }

    @media screen and (min-width: $desktop) {
      margin-bottom: 25px;
      margin-right: 0;
      width: 100%;
    }
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    width: 100%;
  }
}

.program__list--last {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}

.program__list--third {
  margin-top: 5px;

  @media screen and (min-width: $desktop) {
    margin-top: 10px;
  }
}

.program__item-third {
  font-weight: 500;
  color: $secondary-text-color;
  opacity: 0.5;

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 1.56;
  }
}

.program__thumb {
  margin-left: 200px;
  margin-top: -40px;
  width: 176px;
  height: 137px;

  @media screen and (min-width: $mobile) {
    margin-left: 42%;
  }

  @media screen and (min-width: $tablet) {
    margin-top: -140px;
    margin-left: auto;
    margin-right: 0;
    width: 384px;
    height: 280px;
  }

  @media screen and (min-width: $desktop) {
    margin-top: -200px;
    margin-left: calc(-530px + 30%);
    margin-right: auto;
    width: 672px;
    height: 502px;
  }

  @media screen and (min-width: 1680px) {
    margin-left: 0;
  }
}

.program__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
