.problems {
  position: relative;
  min-height: 545px;
  padding: 50px 0 0 0;
  color: $inverse-text-color;
  background-image: linear-gradient(
    to bottom,
    $dark-background-color 560px,
    $inverse-text-color 150px
  );

  @media screen and (min-width: $tablet) {
    min-height: 490px;
  }

  @media screen and (min-width: $desktop) {
    min-height: 710px;
    padding: 100px 0 430px 0;

    background-image: url(../images/bg_problems.svg),
      linear-gradient(to bottom, $dark-background-color 560px, $inverse-text-color 150px);
    background-repeat: no-repeat;
    background-position: right -50px top 88px, top left;
  }
}

.problems__thumb {
  @media screen and (min-width: $desktop) {
    max-width: $desktop;
  }
}

.problems__title {
  margin: 0;
  padding: 0 20px 30px 20px;
  font-weight: 800;
  font-size: 20px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: $inverse-text-color;

  &--accent {
    color: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    max-width: 568px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 866px;

    font-size: 46px;
  }
}

.problems__list {
  @extend %list;
  counter-reset: items;

  padding: 20px 15px 20px 30px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.08em;
  color: $primary-text-color;

  background-color: $inverse-text-color;
  box-shadow: $box-shadow;

  @media screen and (min-width: $tablet) {
    @include grid(35px);
    padding: 30px 98px;
  }

  @media screen and (min-width: $desktop) {
    position: absolute;
    bottom: 0;
    padding: 65px 113px;
    font-size: 20px;
  }
}

.problems__item {
  display: flex;
  flex-direction: column;

  &::before {
    content: '— ' counter(items, decimal-leading-zero);
    counter-increment: items;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 20px;
    line-height: 164.9%;
    color: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    @include grid-item(35px, 2);
  }

  @media screen and (min-width: $desktop) {
    @include grid-item(35px, 3);
  }
}
