.home__link {
  @extend %link;

  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 40px;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $accent-color;
  background-color: transparent;
  border: 2px solid $accent-color;
  opacity: 0.5;

  transition: color 250ms $timing-function, background-color 250ms $timing-function,
    opacity 250ms $timing-function;

  &:hover {
    opacity: 1;
    background-color: $accent-color;
    color: $inverse-text-color;
  }
}

.home__icon {
  fill: currentColor;
}

.reviews {
  padding-top: 50px;
  padding-bottom: 50px;

  @media screen and (min-width: $desktop) {
    padding-top: 130px;
    padding-bottom: 130px;
  }
}

.reviews__title {
  margin-bottom: 20px;
  margin-top: 0;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;

  color: $dark-background-color;

  @media screen and (min-width: $tablet) {
    margin-bottom: 30px;
    font-size: 26px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    font-size: 46px;
  }
}

.slider__container {
  @media screen and (min-width: $desktop) {
    margin-left: auto;
    margin-right: auto;
    width: 1090px;
  }
}

.review {
  padding: 20px 20px 30px 20px;

  @media screen and (min-width: $tablet) {
    display: flex;
    padding: 40px;

    & > .review__wrapper:first-child {
      margin-right: 46px;
    }
  }

  @media screen and (min-width: $desktop) {
    padding: 50px 110px 50px 80px;
  }
}

.reviews__thumb {
  overflow: hidden;
  border-radius: 50%;
  margin-right: auto;
  margin-left: auto;

  &--slide-for {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;

    @media screen and (min-width: $tablet) {
      width: 150px;
      height: 150px;
    }
  }

  &--slide-nav {
    width: 54px;
    height: 54px;
  }
}

.reviews__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.review__social-link {
  @extend %link;
  cursor: pointer;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 30px;
  height: 30px;
}

.review__title {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 800;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  text-align: center;
  color: $accent-color;

  @media screen and (min-width: $tablet) {
    margin-bottom: 20px;
    font-size: 20px;
    text-align: left;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 10px;
    font-size: 30px;
  }
}

.review__university {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-align: center;
  color: $secondary-text-color;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }

  @media screen and (min-width: $desktop) {
    font-size: 14px;
  }
}

.review__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0;
  text-align: center;
  color: $slider-text-color;

  @media screen and (min-width: $tablet) {
    text-align: left;
  }

  @media screen and (min-width: $desktop) {
    font-size: 18px;
  }
}

.slick-center .reviews__thumb {
  border: 2px solid $accent-color;
}

.slider-for {
  margin-bottom: 20px;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
}

.slider-nav {
  margin-right: 50px;
  margin-left: 50px;

  @media screen and (min-width: $tablet) {
    margin-right: 60px;
    margin-left: 60px;
  }
}

.slick-next {
  right: -45px;
  width: 25px;
  height: 15px;

  &::before {
    content: '';
    display: block;
    width: 25px;
    height: 15px;
    background-image: url('../images/arrow-right.svg');
    background-size: cover;
    background-position: center;
  }

  @media screen and (min-width: $tablet) {
    right: -13px;
  }

  @media screen and (min-width: $desktop) {
    right: -85px;
  }
}

.slick-prev {
  left: -45px;
  width: 25px;
  height: 15px;

  &::before {
    content: '';
    display: block;
    width: 25px;
    height: 15px;
    background-image: url('../images/arrow-left.svg');
    background-size: cover;
    background-position: center;
  }

  @media screen and (min-width: $tablet) {
    left: -13px;
  }

  @media screen and (min-width: $desktop) {
    left: -85px;
  }
}
// Читать дальше
.review__checkbox {
  display: none;
}

.review__text--hidden {
  opacity: 0;
  max-height: 0;
  transform: scale(0.5);
  font-size: 0;
  transition: 250ms $timing-function;
}

.review__checkbox:checked {
  & ~ .review__text .review__text--hidden {
    opacity: 1;
    font-size: inherit;
    max-height: 999em;
  }
}

.review__label::before {
  content: 'Читать дальше';
  text-decoration: underline;
  color: $accent-color;
}

.review__text--visible::after {
  content: '...';
}

.review__checkbox:checked {
  & ~ .review__text .review__label::before {
    content: '';
  }

  & + .review__text .review__text--visible::after {
    content: '';
    margin-left: -3px;
  }
}

.review__label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 1.7;

  @media screen and (min-width: $tablet) {
    display: inline;
  }

  @media screen and (min-width: $desktop) {
    font-size: 18px;
  }
}
