// Ширина екрана
$mobile-min: 320px;
$mobile: 480px;
$tablet: 768px;
$desktop: 1344px;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$accent-color: #ff6b09;
$primary-text-color: #111518;
$inverse-text-color: #ffffff;
$secondary-text-color: #b9b9b9;
$slider-text-color: #3d3d3d;
$background-color: #f1f1f1;
$dark-background-color: #111518;
$modal-background-color: rgba(17, 21, 24, 0.9);

$box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);

$primary-font-family: 'Montserrat', sans-serif;

// sprite id:

// fire   огонек в Логотипе
//check-mark   галочка
//ellipse  оранжевый кружочек
//vk
//instagram

//ADVANTAGES
//advantages-1
//advantages-2
//advantages-3

//PROBLEMS
//big-fire большой огонек на заднем фоне

//HOW WE DO
//иконки слева направо почереди
//study-program
//mobile-learning
//open-book
//community
//female-student
//audio-book
