/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
@import './variables';
@import './mixin';
@import './placeholder';
@import './common';

@import './page-header';
@import './hero';
@import './advantages';
@import './problems';
@import './how-we-do';
@import './program';
@import './benefits';
@import './about';
@import './guarantee';
@import './reviews';
@import './contacts';
@import './page-footer';
