<section class="advantages">
    <div class="container">
        <h1 class="advantages__title visually-hidden">Advantages</h1>
        <ul class="advantages__list">
            <li class="advantages__item">
                <svg class="advantages__icon">
                    <use href="./images/sprite.svg#advantages-1"></use>
                </svg>
                <p class="advantages__text">Адаптированная авторская программа ВНО</p>
            </li>
            <li class="advantages__item">
                <svg class="advantages__icon">
                    <use href="./images/sprite.svg#advantages-2"></use>
                </svg>
                <p class="advantages__text">Современные методики обучения</p>
            </li>
            <li class="advantages__item">
                <svg class="advantages__icon">
                    <use href="./images/sprite.svg#advantages-3"></use>
                </svg>
                <p class="advantages__text">Финансовая гарантия результата</p>
            </li>
        </ul>
    </div>
</section>