<section class="contacts" id="contacts">
    <div class="container">

        <h2 class="contacts__title">Регистрация на <span class="contacts__title--accent">бесплатную</span> телефонную <span class="contacts__title--accent">консультацию</span> по нюансам ЗНО
        по английскому языку</h2>

        <p class="contacts__text">Оставь заявку на участие в <span class="contacts__text--accent">бесплатном занятии.</span> <br class="br">
        С вами свяжется консультант и ответит на вопросы</p>

        <form class="reg-form" name="registration-form" autocomplete="on">
            
            <label class="reg-form__label">
                <input class="reg-form__input" type="text" name="name" placeholder=" " minlength="3">
                <span class="reg-form__title">Имя*</span>
            </label>

            <label class="reg-form__label">
                <input class="reg-form__input" type="tel" name="tel" placeholder=" " pattern="[0-9]{9,12}"> 
                <span class="reg-form__title">Телефон*</span>
            </label>

            <button class="reg-form__button" type="submit">хочу на бесплатное занятие</button>

        </form>
    </div>
</section> 