<section class="hero">
    <div class="container">
        <h1 class="hero-title">
            Комплексная
            <br>подготовка к ВНО
            <br>по английскому языку</h1>
        <p class="hero-description">
            <span class="hero-description__text">Просто не будет.</span>
            <span class="hero-description__topic">Но ты гарантировано наберешь</span>
            <span class="hero-description__label">+25 баллов</span>
        </p>
        <button type="submit" href="#contacts" class="hero-button">хочу на бесплатное занятие</button>
        <div class="hero-thumb thumb">
            <img src="./images/hero/mobile/hero-img.png" alt="hero-foto">
        </div>
    </div>   
</section>