<section class="hero">
    <div class="container">
        <div class="hero__position">
            <div class="hero__container">
                <h1 class="hero__title">
                    Комплексная
                    <br>подготовка к ВНО
                    <br>по английскому языку</h1>
                <p class="hero__desc">
                    <span class="hero__desc--text">Просто не будет.</span>
                    <span class="hero__desc--topic">Но ты гарантировано наберешь</span>
                    <span class="hero__desc--label">+25 баллов</span>
                </p>
                <button type="submit" href="#contacts.html" class="hero__button">хочу на бесплатное занятие</button>
            </div>
            <div class="hero__thumb thumb">
                <img class="hero__img" srcset="./images/hero/hero-img.png 1x, ./images/hero/hero-img@2x.png 2x"
                    src="./images/hero/hero-img.png" alt="hero-foto">
                <img class="hero__img--opacity" srcset="./images/hero/hero-ellipse.png 1x, ./images/hero/hero-ellipse@2x.png 2x"
                    src="./images/hero/hero-ellipse.png" alt="hero-foto">
            </div>
        </div>
    </div> 
</section>