<header class="header">
  <div class="container header__container">
    <nav class="header__nav">
      <div class="main__logo">
        <a href="./index.html" class="logo"
          >Hell
          <svg class="main__icon">
            <use href="./images/sprite.svg#fire"></use></svg
          >EN <br />
          <span class="main__logo-rus"
            >адский <span class="main__logo-black">английский</span>
          </span>
        </a>
      </div>

      <ul class="header__list">
        <li class="header__list-item">
          <a class="header__link scrollto" href="#program">Программы обучения</a>
        </li>
        <li class="header__list-item">
          <a class="header__link scrollto" href="#about">О нас</a>
        </li>
        <li class="header__list-item">
          <a class="header__link scrollto" href="#training">Варианты обучения</a>
        </li>
        <li class="header__list-item">
          <a class="header__link scrollto" href="#contacts">Контакты</a>
        </li>
      </ul>

      <button class="consultation-button" type="submit" data-modal-open>
        Консультация по телефону
      </button>

      <button type="button" class="menu-toggle" aria-expanded="false" data-menu-button>
        <svg class="menu-toggle__icon"
          aria-label="Переключатель мобильного меню"
          aria-expanded="false"
          aria-controls="menu-container"
        >
          <use class="header__icon-menu" href="./images/sprite.svg#menu"></use>
          <use class="header__icon-cross" href="./images/sprite.svg#cross"></use>
        </svg>
      </button>
    </nav>
  </div>

  <div class="menu-container js-menu-container" id="mobile-menu">
    <div class="mobile-head">
      <div class="main__logo">
        <a href="./index.html" class="logo logo--inverse"
          >Hell
          <svg class="main__icon">
            <use href="./images/sprite.svg#fire"></use></svg
          >EN <br />
          <span class="main__logo-rus main__logo-rus--inverse"
            >адский <span class="main__logo-black main__logo-black--inverse">английский</span>
          </span>
        </a>
      </div>
    </div>

    <div class="mobile-menu__list">
      <ul class="mobile-menu__chapters">
        <li class="header__chapters-item header__chapters-item--inverse">
          <a class="header__link js-close-menu-link-program" href="#program">Программы обучения</a>
        </li>
        <li class="header__chapters-item header__chapters-item--inverse">
          <a class="header__link js-close-menu-link-about" href="#about">О нас</a>
        </li>
        <li class="header__chapters-item header__chapters-item--inverse">
          <a class="header__link js-close-menu-link-training" href="#training">Варианты обучения</a>
        </li>
        <li class="header__chapters-item header__chapters-item--inverse">
          <a class="header__link js-close-menu-link-contacts" href="#contacts">Контакты</a>
        </li>
      </ul>
    </div>

    <button
      class="consultation-button consultation-button__mob-menu"
      type="submit"
      data-modal-open-mobile
    >
      Консультация по телефону
    </button>
  </div>
</header>
