<header class="header">
    <div class="container header__container">
        
        <nav class="header__nav">
            
            <div class="header__logo">
                <a href="./index.html" class="logo">Hell                    
                    <svg class="header__icon" >
                        <use href="./images/sprite.svg#fire">
                        </use>                        
                        </svg>EN <br />
                        <span>адский английский</span>
                        
                </a>
            </div>

            <ul class="header__list">                    
                <li class="header__list-item">Программы обучения</li>
                <li class="header__list-item">О нас</li>
                <li class="header__list-item">Варианты обучения</li>
                <li class="header__list-item">Контакты</li>                
            </ul>  
            
            <button class="consultation-button" type="submit">Консультация по телефону
            </button>
            
            <button 
                class="menu-toggle js-open-menu" 
                type="button"
                aria-expanded="false"
                aria-controls="mobile-menu"    
                >
                    <svg 
                    width=20.5px 
                    height=12px
                    aria-label="Переключатель мобильного меню"
                    >                         
                        <use class="header__menu" href="./images/sprite.svg#menu"></use>                        
                    </svg>
            </button>
           
        </nav>
    </div>
</header>

<!-- <div class="menu-container js-menu-container" id="mobile-menu">

    <div class="header__logo">
        <a href="./index.html" class="logo">Hell                    
            <svg class="header__icon" width=10px height=16px>
                <use href="./images/sprite.svg#fire" width=10px height=16px>
                </use>                        
                </svg>EN <br />
                адский английский
        </a>
    </div>
    
    
    
    <button class="menu-toggle js-close-menu">
        <svg 
            width=14.5px 
            height=14.5px
            aria-label="Переключатель мобильного меню"
            >
            <use class="header__cross" href="./images/sprite.svg#cross"></use>
        </svg>
    </button>
               
    <div class="mobile-menu__list">
        <ul class="mobile-menu__chapters">                    
            <li class="header__chapters-item">Программы обучения</li>
            <li class="header__chapters-item">О нас</li>
            <li class="header__chapters-item">Варианты обучения</li>
            <li class="header__chapters-item">Контакты</li>
        </ul>
    </div>
    
    <button class="consultation-button" type="submit">Консультация по телефону
    </button>
    
</div> -->