<section class="home">
  <div class="container">
    <a class="home__link" href="#header">
      <svg class="home__icon">
        <use href="/images/sprite.svg#arrow-up"></use>
      </svg>
    </a>
  </div>
</section>
<section class="program" id="program">
  <div class="program__title-wrapper">
    <div class="container">
      <h2 class="program__title">Наша программа</h2>
    </div>
  </div>
  <div class="container">
    <ul class="program__list program__list--first">
      <li class="program__item-first">
        <span class="program__list-title">семестр</span>
        <ul class="program__list program__list--second">
          <li class="program__item-second">
            Grammar
            <ul class="program__list program__list--third">
              <li class="program__item-third">Nouns & Articles</li>
              <li class="program__item-third">Adjectives & Adverb</li>
            </ul>
          </li>
          <li class="program__item-second">
            Vocabulary
            <ul class="program__list program__list--third">
              <li class="program__item-third">Family & Relations</li>
              <li class="program__item-third">People & Society</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__item-first">
        <span class="program__list-title">семестр</span>
        <ul class="program__list program__list--second">
          <li class="program__item-second">
            Grammar
            <ul class="program__list program__list--third">
              <li class="program__item-third">Pronouns</li>
              <li class="program__item-third">Active Voice</li>
              <li class="program__item-third">Passive Voice</li>
            </ul>
          </li>
          <li class="program__item-second">
            Vocabulary
            <ul class="program__list program__list--third">
              <li class="program__item-third">Home</li>
              <li class="program__item-third">School</li>
              <li class="program__item-third">Work</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__item-first">
        <span class="program__list-title">семестр</span>
        <ul class="program__list program__list--second">
          <li class="program__item-second">
            Grammar
            <ul class="program__list program__list--third">
              <li class="program__item-third">Modal verbs</li>
              <li class="program__item-third">Infinitive</li>
              <li class="program__item-third">Gerund</li>
              <li class="program__item-third">Participle: 1, 2</li>
            </ul>
          </li>
          <li class="program__item-second">
            Vocabulary
            <ul class="program__list program__list--third">
              <li class="program__item-third">Travel & Tourism</li>
              <li class="program__item-third">Culture & Free Time</li>
              <li class="program__item-third">Sport</li>
            </ul>
          </li>
          <li class="program__item-second">
            Writing
            <ul class="program__list program__list--third">
              <li class="program__item-third">Informal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__item-first">
        <span class="program__list-title">семестр</span>
        <ul class="program__list program__list--second">
          <li class="program__item-second">
            Grammar
            <ul class="program__list program__list--third">
              <li class="program__item-third">Clauses: Conditional and Wishes</li>
              <li class="program__item-third">Direct / Reported speech</li>
              <li class="program__item-third">Preposition</li>
              <li class="program__item-third">Conjunction</li>
              <li class="program__item-third">Numeral</li>
            </ul>
          </li>
          <li class="program__item-second">
            Vocabulary
            <ul class="program__list program__list--third">
              <li class="program__item-third">Healthy Living</li>
              <li class="program__item-third">Nature & Environment</li>
              <li class="program__item-third">Money</li>
            </ul>
          </li>
          <li class="program__item-second">
            Writing
            <ul class="program__list program__list--third">
              <li class="program__item-third">Formal Letter</li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="program__item-first">
        <span class="program__list-title">семестр</span>
        <ul class="program__list program__list--second program__list--last">
          <li class="program__item-second">
            <ul class="program__list program__list--third">
              <li class="program__item-third">Revision</li>
              <li class="program__item-third">Tests</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="program__thumb bounceInLeft wow">
    <img
      class="program__img"
      srcset="/images/program-img-x1.png 1x, /images/program-img-x2.png 2x"
      src="/images/program-img-x1.png"
      alt="Урок в класе"
    />
  </div>
</section>
