<section class="reviews">
  <div class="container">
    <h2 class="reviews__title">Отзывы выпускников</h2>
    <div class="slider__container">
      <div class="slider-for">
        <div class="rewiew__wrapper">
          <article class="review">
            <div class="review__wrapper">
              <div class="review__thumb">
                <img
                  class="reviews__img"
                  srcset="/images/reviews-1-x2.jpg 1x, /images/reviews-1-x3.jpg 2x"
                  src="/images/reviews-1-x2.jpg"
                  alt="ученик"
                />
              </div>
              <a href="#" class="review__social-link">
                <svg class="review__icon">
                  <use href="/images/sprite.svg#vk"></use>
                </svg>
              </a>
            </div>
            <div class="review__wrapper">
              <h3 class="review__title">Тоня Кучеровская</h3>
              <p class="review__university">
                Выпуск 2015-го года, Національний університет біоресурсів і природокористування
                України
              </p>
              <p class="review__text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці.
                Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала
                для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                помилку. Зараз я можу похизуватись тим, що я студен ...
              </p>
            </div>
          </article>
        </div>

        <div class="rewiew__wrapper">
          <article class="review">
            <div class="review__wrapper">
              <div class="review__thumb">
                <img
                  class="reviews__img"
                  srcset="/images/reviews-2-x2.jpg 1x, /images/reviews-2-x3.jpg 2x"
                  src="/images/reviews-2-x2.jpg"
                  alt="ученик"
                />
              </div>
              <a href="#" class="review__social-link">
                <svg class="review__icon">
                  <use href="/images/sprite.svg#vk"></use>
                </svg>
              </a>
            </div>
            <div class="review__wrapper">
              <h3 class="review__title">Тоня Кучеровская</h3>
              <p class="review__university">
                Выпуск 2015-го года, Національний університет біоресурсів і природокористування
                України
              </p>
              <p class="review__text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці.
                Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала
                для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                помилку. Зараз я можу похизуватись тим, що я студен ...
              </p>
            </div>
          </article>
        </div>

        <div class="rewiew__wrapper">
          <article class="review">
            <div class="review__wrapper">
              <div class="review__thumb">
                <img
                  class="reviews__img"
                  srcset="/images/reviews-3-x2.jpg 1x, /images/reviews-3-x3.jpg 2x"
                  src="/images/reviews-3-x2.jpg"
                  alt="ученик"
                />
              </div>
              <a href="#" class="review__social-link">
                <svg class="review__icon">
                  <use href="/images/sprite.svg#vk"></use>
                </svg>
              </a>
            </div>
            <div class="review__wrapper">
              <h3 class="review__title">Тоня Кучеровская</h3>
              <p class="review__university">
                Выпуск 2015-го года, Національний університет біоресурсів і природокористування
                України
              </p>
              <p class="review__text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці.
                Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала
                для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                помилку. Зараз я можу похизуватись тим, що я студен ...
              </p>
            </div>
          </article>
        </div>

        <div class="rewiew__wrapper">
          <article class="review">
            <div class="review__wrapper">
              <div class="review__thumb">
                <img
                  class="reviews__img"
                  srcset="/images/reviews-4-x2.jpg 1x, /images/reviews-4-x3.jpg 2x"
                  src="/images/reviews-4-x2.jpg"
                  alt="ученик"
                />
              </div>
              <a href="#" class="review__social-link">
                <svg class="review__icon">
                  <use href="/images/sprite.svg#vk"></use>
                </svg>
              </a>
            </div>
            <div class="review__wrapper">
              <h3 class="review__title">Тоня Кучеровская</h3>
              <p class="review__university">
                Выпуск 2015-го года, Національний університет біоресурсів і природокористування
                України
              </p>
              <p class="review__text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці.
                Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала
                для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                помилку. Зараз я можу похизуватись тим, що я студен ...
              </p>
            </div>
          </article>
        </div>

        <div class="rewiew__wrapper">
          <article class="review">
            <div class="review__wrapper">
              <div class="review__thumb">
                <img
                  class="reviews__img"
                  srcset="/images/reviews-5-x2.jpg 1x, /images/reviews-5-x3.jpg 2x"
                  src="/images/reviews-5-x2.jpg"
                  alt="ученик"
                />
              </div>
              <a href="#" class="review__social-link">
                <svg class="review__icon">
                  <use href="/images/sprite.svg#vk"></use>
                </svg>
              </a>
            </div>
            <div class="review__wrapper">
              <h3 class="review__title">Тоня Кучеровская</h3>
              <p class="review__university">
                Выпуск 2015-го года, Національний університет біоресурсів і природокористування
                України
              </p>
              <p class="review__text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці.
                Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала
                для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                помилку. Зараз я можу похизуватись тим, що я студен ...
              </p>
            </div>
          </article>
        </div>

        <div class="rewiew__wrapper">
          <article class="review">
            <div class="review__wrapper">
              <div class="review__thumb">
                <img
                  class="reviews__img"
                  srcset="/images/reviews-6-x2.jpg 1x, /images/reviews-6-x3.jpg 2x"
                  src="/images/reviews-6-x2.jpg"
                  alt="ученик"
                />
              </div>
              <a href="#" class="review__social-link">
                <svg class="review__icon">
                  <use href="/images/sprite.svg#vk"></use>
                </svg>
              </a>
            </div>
            <div class="review__wrapper">
              <h3 class="review__title">Тоня Кучеровская</h3>
              <p class="review__university">
                Выпуск 2015-го года, Національний університет біоресурсів і природокористування
                України
              </p>
              <p class="review__text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці.
                Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала
                для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                помилку. Зараз я можу похизуватись тим, що я студен ...
              </p>
            </div>
          </article>
        </div>

        <div class="rewiew__wrapper">
          <article class="review">
            <div class="review__wrapper">
              <div class="review__thumb">
                <img
                  class="reviews__img"
                  srcset="/images/reviews-7-x2.jpg 1x, /images/reviews-7-x3.jpg 2x"
                  src="/images/reviews-7-x2.jpg"
                  alt="ученик"
                />
              </div>
              <a href="#" class="review__social-link">
                <svg class="review__icon">
                  <use href="/images/sprite.svg#vk"></use>
                </svg>
              </a>
            </div>
            <div class="review__wrapper">
              <h3 class="review__title">Тоня Кучеровская</h3>
              <p class="review__university">
                Выпуск 2015-го года, Національний університет біоресурсів і природокористування
                України
              </p>
              <p class="review__text">
                За короткий час занять з Оленою я опанувала граматику і поповнила свій зовсім пустий
                словниковий запас. З першого ж заняття я зрозуміла, що знаходжуся у своїй тарілці.
                Ми з Оленою стали друзями, тому що її справді хвилювала моя успішність. Вона стала
                для мене авторитетом, проте я не тремтіла на уроках, маючи страх зробити найменшу
                помилку. Зараз я можу похизуватись тим, що я студен ...
              </p>
            </div>
          </article>
        </div>
      </div>

      <div class="slider-nav">
        <div class="slide-bottom">
          <div class="reviews__thumb">
            <img
              class="reviews__img"
              srcset="/images/reviews-1-x1.jpg 1x, /images/reviews-1-x2.jpg 2x"
              src="/images/reviews-1-x1.jpg"
              alt="ученик"
            />
          </div>
        </div>
        <div class="slide-bottom">
          <div class="reviews__thumb">
            <img
              class="reviews__img"
              srcset="/images/reviews-2-x1.jpg 1x, /images/reviews-2-x2.jpg 2x"
              src="/images/reviews-2-x1.jpg"
              alt="ученик"
            />
          </div>
        </div>
        <div class="slide-bottom">
          <div class="reviews__thumb">
            <img
              class="reviews__img"
              srcset="/images/reviews-3-x1.jpg 1x, /images/reviews-3-x2.jpg 2x"
              src="/images/reviews-3-x1.jpg"
              alt="ученик"
            />
          </div>
        </div>
        <div class="slide-bottom">
          <div class="reviews__thumb">
            <img
              class="reviews__img"
              srcset="/images/reviews-4-x1.jpg 1x, /images/reviews-4-x2.jpg 2x"
              src="/images/reviews-4-x1.jpg"
              alt="ученик"
            />
          </div>
        </div>
        <div class="slide-bottom">
          <div class="reviews__thumb">
            <img
              class="reviews__img"
              srcset="/images/reviews-5-x1.jpg 1x, /images/reviews-5-x2.jpg 2x"
              src="/images/reviews-5-x1.jpg"
              alt="ученик"
            />
          </div>
        </div>
        <div class="slide-bottom">
          <div class="reviews__thumb">
            <img
              class="reviews__img"
              srcset="/images/reviews-6-x1.jpg 1x, /images/reviews-6-x2.jpg 2x"
              src="/images/reviews-6-x1.jpg"
              alt="ученик"
            />
          </div>
        </div>
        <div class="slide-bottom">
          <div class="reviews__thumb">
            <img
              class="reviews__img"
              srcset="/images/reviews-7-x1.jpg 1x, /images/reviews-7-x2.jpg 2x"
              src="/images/reviews-7-x1.jpg"
              alt="ученик"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <svg class="advantages__icon">
    <use href="./images/icons/sprite.svg#antenna"></use>
  </svg> -->
</section>
