<section class="reviews">
  <div class="container">
    <div class="slider__container">
      <div class="slider-for">
        <div class="slide-1">SLIDE 1</div>
        <div class="slide-1">SLIDE 2</div>
        <div class="slide-1">SLIDE 3</div>
        <div class="slide-1">SLIDE 4</div>
        <div class="slide-1">SLIDE 5</div>
        <div class="slide-1">SLIDE 6</div>
        <div class="slide-1">SLIDE 7</div>
      </div>

      <div class="slider-nav">
        <div class="slide-2">
          <div class="reviews__thumb">
            <img
              class="reviews__img"
              srcset="/images/reviews-1-x1.jpg 1x, /images/reviews-1-x2.jpg 2x"
              src="/images/reviews-1-x1.jpg"
              alt="ученик"
            />
          </div>
        </div>
        <div class="slide-2">
          <div class="reviews__thumb">
            <img
              class="reviews__img"
              srcset="/images/reviews-2-x1.jpg 1x, /images/reviews-2-x2.jpg 2x"
              src="/images/reviews-2-x1.jpg"
              alt="ученик"
            />
          </div>
        </div>
        <div class="slide-2">
          <div class="reviews__thumb">
            <img
              class="reviews__img"
              srcset="/images/reviews-3-x1.jpg 1x, /images/reviews-3-x2.jpg 2x"
              src="/images/reviews-3-x1.jpg"
              alt="ученик"
            />
          </div>
        </div>
        <div class="slide-2">
          <div class="reviews__thumb">
            <img
              class="reviews__img"
              srcset="/images/reviews-4-x1.jpg 1x, /images/reviews-4-x2.jpg 2x"
              src="/images/reviews-4-x1.jpg"
              alt="ученик"
            />
          </div>
        </div>
        <div class="slide-2">
          <div class="reviews__thumb">
            <img
              class="reviews__img"
              srcset="/images/reviews-5-x1.jpg 1x, /images/reviews-5-x2.jpg 2x"
              src="/images/reviews-5-x1.jpg"
              alt="ученик"
            />
          </div>
        </div>
        <div class="slide-2">
          <div class="reviews__thumb">
            <img
              class="reviews__img"
              srcset="/images/reviews-6-x1.jpg 1x, /images/reviews-6-x2.jpg 2x"
              src="/images/reviews-6-x1.jpg"
              alt="ученик"
            />
          </div>
        </div>
        <div class="slide-2">
          <div class="reviews__thumb">
            <img
              class="reviews__img"
              srcset="/images/reviews-7-x1.jpg 1x, /images/reviews-7-x2.jpg 2x"
              src="/images/reviews-7-x1.jpg"
              alt="ученик"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <svg class="advantages__icon">
    <use href="./images/icons/sprite.svg#antenna"></use>
  </svg> -->
</section>
